<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudan.annotation.platform.backend.dao.RegressionMapper">

    <resultMap id="regression" type="com.fudan.annotation.platform.backend.entity.Regression">
        <id column="id" property="Id" jdbcType="INTEGER"/>
        <result column="regression_uuid" property="regressionUuid" jdbcType="VARCHAR"/>
        <result column="regression_status" property="regressionStatus" jdbcType="INTEGER"/>
        <result column="project_uuid" property="projectUuid" jdbcType="VARCHAR"/>
        <result column="project_full_name" property="projectFullName" jdbcType="VARCHAR"/>
        <result column="bug_id" property="bugId" jdbcType="VARCHAR"/>
        <result column="bfc" property="bfc" jdbcType="VARCHAR"/>
        <result column="buggy" property="buggy" jdbcType="VARCHAR"/>
        <result column="bic" property="bic" jdbcType="VARCHAR"/>
        <result column="work" property="work" jdbcType="VARCHAR"/>
        <result column="testcase" property="testcase" jdbcType="VARCHAR"/>
        <result column="key_word" property="keyWord" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectRegression" resultMap="regression">
        select * from regression
        <trim prefix="where" prefixOverrides="and">
            <if test="regressionUuid != null">
                regression_uuid = #{regressionUuid}
            </if>
            <if test="regressionStatus != null">
                regression_status = #{regressionStatus}
            </if>
            <if test="projectName != null">
               project_full_name like concat("%",#{projectName},"%")
            </if>
            <if test="keyWord != null">
                key_word like concat("%",#{keyWord},"%")
            </if>
        </trim>
        ORDER BY order_value
    </select>

    <select id="getRegression" resultMap="regression">
        select *
        from regression
    </select>

    <delete id="deleteByregressionId" parameterType="java.lang.String">
        delete
        from regression
        where regression_uuid = #{regressionUuid}
    </delete>

    <insert id="insert" parameterType="com.fudan.annotation.platform.backend.entity.Regression">
        # alter table regression auto_increment = 3;
        insert into regression
        (regression_uuid, regression_status, project_uuid, project_full_name,
         bug_id, bfc, buggy,
         bic, work, testcase)
        values (#{regressionUuid,jdbcType=VARCHAR},
                #{regressionStatus,jdbcType=INTEGER},
                #{projectUuid,jdbcType=VARCHAR},
                #{projectFullName,jdbcType=VARCHAR},
                #{bugId,jdbcType=VARCHAR},
                #{bfc,jdbcType=VARCHAR},
                #{buggy,jdbcType=VARCHAR},
                #{bic,jdbcType=VARCHAR},
                #{work,jdbcType=VARCHAR},
                #{testcase,jdbcType=LONGVARCHAR});
    </insert>

    <insert id="insertSelective" parameterType="com.fudan.annotation.platform.backend.entity.Regression">
        insert into regression
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regressionUuid != null">
                regressionUuid,
            </if>
            <if test="regressionStatus != null">
                regression_status,
            </if>
            <if test="projectFullName != null">
                project_full_name,
            </if>
            <if test="bugId != null">
                bug_id,
            </if>
            <if test="bfc != null">
                bfc,
            </if>
            <if test="buggy != null">
                buggy,
            </if>
            <if test="bic != null">
                bic,
            </if>
            <if test="work != null">
                work,
            </if>
            <if test="testcase != null">
                testcase,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regressionUuid != null">
                #{regressionUuid,jdbcType=VARCHAR},
            </if>
            <if test="regressionStatus != null">
                #{regressionStatus,jdbcType=INTEGER},
            </if>
            <if test="projectFullName != null">
                #{projectFullName,jdbcType=VARCHAR},
            </if>
            <if test="bugId != null">
                #{bugId,jdbcType=VARCHAR},
            </if>
            <if test="bfc != null">
                #{bfc,jdbcType=VARCHAR},
            </if>
            <if test="buggy != null">
                #{buggy,jdbcType=VARCHAR},
            </if>
            <if test="bic != null">
                #{bic,jdbcType=VARCHAR},
            </if>
            <if test="work != null">
                #{work,jdbcType=VARCHAR},
            </if>
            <if test="testcase != null">
                #{testcase,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateRegressionStatus" parameterType="java.lang.Integer">
        update regression
        <set>
            <if test="regressionStatus != null">
                regression_status = #{regressionStatus,jdbcType=INTEGER},
            </if>
        </set>
        where regression_uuid = #{regressionUuid,jdbcType=VARCHAR}
    </update>

    <select id="getProjectUuid" resultType="String">
        select *
        from regression
    </select>

    <update id="setProjectUuid" parameterType="java.lang.String">
        update regression
        <set>
            project_uuid = #{projectUuid},
        </set>
        where regression_uuid = #{regressionUuid,jdbcType=VARCHAR}
    </update>

    <update id="setRegressionUuid" parameterType="java.lang.String">
        update regression
        <set>
            regression_uuid = #{regressionUuid},
        </set>
        where id = #{id}
    </update>

    <select id="getRegressionInfo" resultMap="regression">
        select * from regression
        <where>
            regression_uuid = #{regressionUuid}
        </where>
    </select>

</mapper>