.myResProgress {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .total-progress {
    margin-top: 20px;
  }
  .timeline-container {
    overflow-x: auto;
  }
  .tips-container {
    display: flex;
    margin-bottom: 10px;
    // span{
    //   margin-right: 20px;
    // }
    .content {
      font-size: 16px;
    }
    h3 {
      margin-left: 30px;
    }
    .tag-content {
      font-weight: 500;
      font-size: 16px;
    }
  }
  .header-container {
    display: flex;
    h2,
    h3 {
      margin-left: 10px;
      span {
        color: #722ed1;
        font-weight: 800;
      }
    }
  }
  .progress-card {
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(107, 114, 119, 0.33);
  }
  .ant-alert-info {
    background-color: #f9f4ff;
    border: 1px solid #e3c6ff;
  }
  .ant-steps-item-description {
    max-width: 340px !important;
  }
  .regressionTimeline {
    margin-top: 20px;
    padding: 20px 30px;
    line-height: 32px;
    background: #fff;
  }
  .sub-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .sub-title-header {
      margin-left: 20px;
    }
  }
  