server:
  port: 8080

spring:
  datasource:
    name: mysql_druid
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://10.176.34.99:3306/code_annotation2?&useSSL=false&allowMultiQueries=true&autoReconnect=true&serverTimezone=GMT%2b8
    username: root
    password: 110120
    driver-class-name: com.mysql.cj.jdbc.Driver

logging:
  level:
    com:
      fudan:
        annotation:
          platform:
            backend:
              dao: debug

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.fudan.annotation.platform.backend.entity

sa-token:
  # token名称 (同时也是cookie名称)
  token-name: satoken
  # token有效期，单位s 默认30天, -1代表永不过期
  timeout: 2592000
  # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: false
