<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudan.annotation.platform.backend.dao.AccountMapper" >

  <select id="getUserByParam" resultType="com.fudan.annotation.platform.backend.entity.Account" >
    select *
    from account
    <if test="uuid != null">
      where uuid = #{uuid}
    </if>
    <if test="accountName != null">
      where account_name = #{accountName}
    </if>
    <if test="accountRight != null">
      where account_right = #{accountRight}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from account
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.fudan.annotation.platform.backend.entity.Account" >
    insert into account
    (uuid, account_name, password,
      email, account_right)
    values (#{uuid,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{accountRight,jdbcType=TINYINT})
  </insert>

  <insert id="insertSelective" parameterType="com.fudan.annotation.platform.backend.entity.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="accountRight != null" >
        account_right,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="accountRight != null" >
        #{accountRight,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.fudan.annotation.platform.backend.entity.Account" >
    update account
    <set >
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="accountRight != null" >
        account_right = #{accountRight,jdbcType=TINYINT},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>

  <update id="resetPassword" parameterType="java.lang.String" >
    update account
    set
      password = #{password,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>

  <select id="login" parameterType="java.lang.String" resultType="com.fudan.annotation.platform.backend.entity.Account">
    select uuid, account_name, password, account_right
    from account
    where account_name = #{username}
      and password = #{password}
  </select>

  <select id="getAccountName" parameterType="java.lang.String" resultType="String">
    select account_name
    from account
    where uuid = #{uuid}
  </select>
</mapper>