<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudan.annotation.platform.backend.dao.BugTypeMapper">

    <resultMap id="bug_type" type="com.fudan.annotation.platform.backend.entity.BugTypes">
        <result column="bug_type_id" property="bugTypeId" jdbcType="INTEGER"/>
        <result column="bug_type_name" property="bugTypeName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllBugTypes" resultMap="bug_type">
        select *
        from bug_type
    </select>

    <insert id="insertBugType" parameterType="com.fudan.annotation.platform.backend.entity.CreateBugType">
        insert into bug_type
        (bug_type_name, created_by)
        values (#{bugTypeName},
        #{accountName});
    </insert>

    <delete id="deleteBugTypeById" parameterType="java.lang.Integer">
        delete from bug_type
        where bug_type_id = #{bugTypeId}
    </delete>

</mapper>