<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudan.annotation.platform.backend.dao.CommentsMapper">

    <resultMap id="comments" type="com.fudan.annotation.platform.backend.entity.Comments">
        <result column="id" property="commentId" jdbcType="INTEGER"/>
        <result column="regression_uuid" property="regressionUuid" jdbcType="VARCHAR"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="context" property="context" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <insert id="setComments" >
        insert into comments
        (regression_uuid, account_name, context)
        values (#{regressionUuid},
                #{accountName},
                #{context});
    </insert>

    <select id="getComments" resultMap="comments">
        select * from comments
        <where>
            regression_uuid = #{regressionUuid}
        </where>
    </select>

    <delete id="deleteComments" >
        delete from comments
        where regression_uuid = #{regressionUuid} and account_name = #{accountName}
        and id = #{commentId}
    </delete>

</mapper>