<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudan.annotation.platform.backend.dao.ProjectMapper">

    <resultMap id="project" type="com.fudan.annotation.platform.backend.entity.Project">
        <id column="project_uuid" property="projectUuid" jdbcType="VARCHAR"/>
        <result column="organization" property="organization" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getProjectUuid" resultType="String">
        select project_uuid from project
        <where>
            organization = #{organization} and project_name = #{projectName}
        </where>
    </select>

</mapper>